dataComp/Authorization.json
*.pyc
dataComp/__pycache__
*.pyc
dataComp/functANDtests/__pycache__/dataIO.cpython-35.pyc
dataComp/functANDtests/Py_R_test1.csv
dataComp/functANDtests/__pycache__/dataIO.cpython-35.pyc
